* {
    font-family: 'Calibri';
}
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

/* light/dark ===================================================*/

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    /* background-color: #dedede; */
    background-color: #dddddd; 
    /* gaya awal light mode, reff dari js no 2 */
    
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    
    transition: background-color 1.0s ease; /* jeda waktu perubahan */
}

header .mode {
    margin: auto;
    /* posisi class akan menuju ke bagian tengan */

    /* width: 350px; */
    display: contents;
    /* lebar */

    /* padding: 30px; */
    
    
    /* background-color: #fff;  */
    /* gaya awal light mode, reff dari js no 2 */

    border-radius: 5px; /* agar sisinya melengkung */

    text-align: center; 
    /* agar teks berada ditengah */
    transition: background-color 1.9s ease; /* jeda waktu perubahan */
}

header .mode button {
    padding: 10px;
    cursor: pointer;
    /* font-size: 12px; */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

/* memberikan gaya dari tombol light mode */
header .mode button.tombol-terang {
    display: none; /* menyembunyikan tombol light mode saat pertama kali web di akses */
    color: white;
    /* color: blue; */
    /* background-color: yellow; */
    background-color: darkorange;
}
div.nama button.tombol-terang {
    display: none;
}

/* div.nama button.tombol-gelap {
    display: contents;
} */

/* memberikan gaya dari tombol dark mode */
header .mode button.tombol-gelap {
    /* background-color: blue; */
    color: white;
    background-color: midnightblue;
    /* color: yellow; */
}

/* lanjutan dari js & css no 2 = efek gelap */
body.gelap { /* tag html > class js */
    background-color: #000;
    transition: background-color 1.0s ease;
}

/* class js > class css */
.gelap header .mode {
    background-color: #333;
    color: #fff;
}

.gelap .tentang-saya, .gelap .ringkasan, .gelap #keahlian, .gelap .tmp-pengalaman, .gelap .tmp-pddkn { /* class js > class css */
    background-color: #333;
    color: #fff;
    box-shadow: -5px -5px 10px tan;
    transition: background-color 0.5s ease;
}
/* cadetblue */
/* cornflowerblue */
/* blueviolet */
/* dimgrey */
.gelap .identitas .rincian {
    background-color: darkslategray;
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .identitas .kontak {
    background-color: teal;
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .kontak p a {
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .pengalaman .pt {
    background-color: teal;
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .pengalaman .jobdesk {
    background-color: midnightblue;
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .pddkn .sklh {
    background-color: darkslateblue;
    color: #fff;
    transition: background-color 0.5s ease;
}
.gelap .pddkn .jenjang {
    background-color: dimgrey;
    color: #fff;
    transition: background-color 0.5s ease;
}

.gelap header .mode .tombol-terang {
    display: inline; /* menampilkan tombol light mode saat variabel gelap hilang */
}
.gelap div.nama .tombol-terang {
    display: inline;
}

.gelap header .mode .tombol-gelap {
    display: none; /* menghilangkan tombol dark mode saat variabel menjadi gelap */
} /* lanjut ke js no 3 */
.gelap div.nama .tombol-gelap {
    display: none;
}

/* light/dark ===================================================*/

.tentang-saya, .ringkasan, #keahlian, .tmp-pengalaman, .tmp-pddkn {
    text-align: justify;
    padding: 1px 30px 10px 30px;
    /* box-shadow: 0px -10px 30px mediumvioletred; */
    box-shadow: -5px -5px 10px mediumvioletred;
    border-radius: 15px;

    /* light/dark cek */
    /* background-color: #ccc; */
    /* background-color: silver; */
    background-color: #999;

    /* margin: 15px;  gk ke pake */
    width: 750px;
    margin: auto;
    margin-top: 20px;    
}

.nama img {
    width: 120px;
    border: none;
    /* margin: 0px;
    padding: 0px; */
    /* padding-top: 0px;
    margin-top: 0px; */
}
/* .kontak img {
    width: 20px;
    display: inline;
    background-color: black;
} */

/* .kontak ul {
    list-style: none;
} */

.kontak a {
    color: black;
    text-decoration: none;
    /* transition: color 0.5s ease; */
}

.kontak p a {
    color: black;
    text-decoration: none;
    /* transition: color 0.5s ease; */
}
.kontak p a:hover {
    /* transition: all 0.2s ease-in-out;
    transform: scale(1.5); */
    /* transition: color 0.5s ease; */
    /* color: mediumvioletred; */
    text-shadow: -2px 2px 2px #fff;
}
.gelap .kontak p a:hover {
    text-shadow: -2px 2px 2px red;
}

.andalan ul {
    padding-left: 15px;
}

.nama1 {
    font-weight: bold;
    font-size: 18px;
}
.nama2 {
    font-weight: bold;
    font-size: 16px;
}

.identitas, .pengalaman, .pddkn {
    border-radius: 15px; /* lihat pada : .kelas-blog .area .gambar { */
    display: flex; /* tag div menjadi berbaris sejajar */
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin-top: 10px;
}

.andalan {
    border-radius: 15px; /* lihat pada : .kelas-blog .area .gambar { */
        display: flex; /* tag div menjadi berbaris sejajar */
        flex-direction: row;
        justify-content: space-between;
        /* justify-content: space-around; */
        margin-top: 10px;
}
.andalan .gambar {
    background: url("gambar.jpg");
    background-attachment: fixed; 
    /* agar gambar tampak diam saat scroll */

    width: 375px;
    /* height: 50px; */
    height: auto;
    
    background-position: center; 
    /* agar gambar berada di tengah */
    
    background-size: cover; 
    /* agar lebar penuh hanya dengan satu gambar */
    
    text-align: center;
    color: #fff;
    /* font-size: 20px; 
    font-weight: bold;
    font-style: italic; */

    /* display: inline; */

    /* padding: 50px;  */
    /* jgn gunakan display: inline; */
}
/* .andalan .gambar p {
    display: none;
} */

.identitas .nama {
    text-align: left;
    border-radius: 0px 0px 0px 0px;

    /* width: 30%; */
    width: 20%;
    /* background-color: darkgray; */
    /* margin: 0px; */
}

.identitas .kontak {
    text-align: left;
    font-weight: bold;
    display: grid;
    background-color: darkseagreen;
    
    /* width: 70%; */
    width: 50%;

    border-radius: 0px 0px 0px 0px;
    padding-left: 25px;
}
.identitas .kontak p {
    margin: auto 0px auto 0px;
}

.identitas .rincian {
    /* color: #111; */
    text-align: left;
    /* font-weight: bold; */
    display: grid;
    background-color: cadetblue;
    
    /* width: 70%; */
    width: 25%;

    border-radius: 0px 15px 15px 0px;
    padding-left: 25px;
}
.identitas .rincian p {
    margin: auto 0px auto 0px;
}
/* cadetblue */
/* cornflowerblue */
/* blueviolet */

/* .identitas .nama p {
    display: block;
    border-radius: 0px;
    padding-top: 0px;
    margin-left: 0px;
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: auto;
    top: 0;
} */

.andalan .keahlian {
    text-align: left;
    /* background-color: darkseagreen; */
    /* width: 70%; */
    /* border-radius: 0px 15px 15px 0px; */
}

.pengalaman .pt {
    text-align: center;
    /* display: inline; */
    /* margin: auto; */
    /* background-color: darkgray; */
    background-color: lightslategrey;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}

.pengalaman .pas {
    padding-top: 15px;
    display: grid;
}

.pengalaman .jobdesk {
    text-align: left;
    background-color: darkseagreen;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    /* padding-left: 50px; */
}

.pddkn .jenjang {
    text-align: center;
    background-color: lightslategray;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}
.pddkn .sklh {
    text-align: left;
    background-color: darkseagreen;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    padding-left: 50px;
    padding-right: 20px;
}

.pengalaman .jobdesk ul, .andalan .keahlian ul {
    text-align: left;
    /* padding-left: 20px; */
    padding-right: 20px;
}

.pddkn .sklh {
    padding-right: 20px;
}

/* section#identitas div.tentang-saya:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
} */

.ringkasan:hover, #keahlian:hover, .tmp-pengalaman:hover, .tombol-nav:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

header h1 {
    text-align: center;
    text-shadow: -2px 2px 2px yellow;
}
.gelap header h1 {
    color: #fff;
    text-shadow: -2px 2px 2px blue;
    /* text-shadow: -2px 2px 2px red; */
    transition: background-color 0.5s ease;
}

footer .hakcipta {
    /* width: 100%;  */
    /* agar tulisan ke tengah beri = text-align: center; */
    margin-top: 15px;
    /* padding-top: 10px; */
    padding: 10px;
    border-top: 2px solid #333;
    text-align: center;
    color: #ffffff;
    background-color: #b71c1c;
}
.nama a img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(2);
}

/* .layar-depan {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(circuit-wallpaper.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
} */
/* .layar-blkng img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
    opacity: 75%;
    z-index: -1;
} */

/* Galeri ==================================== */
div.galeri {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    /* justify-content: space-between; */
    text-align: justify;
    padding: 1px 30px 10px 30px;
    /* box-shadow: -5px -5px 10px mediumvioletred; */
    border-radius: 15px;
    /* background-color: #999; */
    width: 750px;
    margin: auto;
    margin-top: 20px;
}
div.galeri div {
    padding: 10px;
}
div.galeri div img {
    height: 100px;
    border-radius: 5px;
}
div.galeri div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(5);
}
/* Galeri ==================================== */

.tombol-nav {
    float: right;
    color: #fff;
    text-decoration: none;
    /* font-size: medium; */
    font-weight: normal;
    padding: 5px;
    background-color:#000;
    border-radius: 5px;
    font-size: 14px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    display: flex;
    flex-wrap: wrap; */
}

@media screen and (max-width: 800px) {
    .tentang-saya, .ringkasan,  #keahlian, .tmp-pengalaman, .tmp-pddkn, div.galeri {
        width: 75%;
    }

    .identitas, .andalan, .pengalaman, .galeri {
        display: block;
    }

    .galeri {
        position: relative;
        display: flex; /* agar tampilan sejajar horizontal */
        flex-wrap: wrap; /* agar tidak jadi satu baris selamanya */
    }

    .andalan .gambar {
        /* display: contents; */
        width: auto;
    }

    .tentang-saya .identitas div {
        width: 100%;
        text-align: center;
        padding: 0px;
        /* border-radius: 0px 0px 15px 15px; */
    }

    .identitas .nama {
        /* background-color: darkgray; */
        border-radius: 0px 0px 0px 0px;
        /* padding: 1px 0px 1px 0px; */
        margin-bottom: 10px;
        text-align: center;
    }

    .identitas .kontak {
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 2px;
    }
    .identitas .kontak p {
        margin: 10px auto 10px auto;
    }

    .identitas .rincian {
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .identitas .rincian p {
        margin: 10px auto 10px auto;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }

    .tmp-pengalaman .pengalaman div {
        width: 100%;
    }

    .tmp-pengalaman .pengalaman .pt {
        border-radius: 15px 15px 0px 0px;
        padding: 1px 0px 1px 0px;
        /* display: block; */
    }

    .pengalaman .pas, .pengalaman .pt {
        padding-top: 0px;
        display: block;
    }

    .tmp-pengalaman .pengalaman .jobdesk {
        border-radius: 0px 0px 15px 15px;
        padding: 1px 0px 1px 0px;
    }

    .andalan .keahlian ul {
        text-align: left;
        /* padding-left: 20px; */
        padding-right: 0px;
    }
    
    .pengalaman .jobdesk ul {
        text-align: left;
        /* padding-left: 20px; */
        padding-right: 20px;
    }

    .pddkn .sklh {
        /* text-align: center; */
        /* padding-top: 0px; */
        /* padding-bottom: 0px; */
        /* padding-left: 20px; */
        padding-left: 20px;
        padding-right: 20px;
    }
}


